<template>
    <div class="w-full h-full flex flex-row relative">
        <div class="z-10 w-1/4 h-full flex-none text-center border-r border-solid border-gray-300 relative">
            <ul class="h-full overflow-y-scroll">
                <li :class="{'bg-blue-400 text-white' : activeConvo && (convo._id === activeConvo._id)}" v-for="(convo, i) in conversations" :key="i" @click="setActiveConvo(convo)" class="cursor-pointer py-4 border-b border-solid border-gray-300">
                    {{ convo.name }}
                </li>
            </ul>
            <button v-if="!newConvo" @click="newConvo = true" class="absolute inset-x-0 bottom-0 font-semibold text-white w-full bg-blue-400 shadow py-2">Add Conversation</button>
            <div v-else class="absolute inset-x-0 bottom-0 w-full ">
                <form class="flex" @submit.prevent="addNewConvo">
                    <input type="text" ref="newConvoInput" v-model="convo" class="px-3 border border-solid border-gray-300 inline-block flex-grow">
                    <input type="submit" class="hidden">
                    <button @click.prevent="newConvo = false" class="bg-red-400 py-2 shadow w-1/6 inline-block flex-none">X</button>
                </form>
            </div>
        </div>
        <div class="mx-auto pb-32 px-4 w-1/2 relative h-full flex flex-col" style="">
            <div class="pt-6 pb-32 px-6 h-full overflow-y-scroll">
                <div v-for="(msg,i) in msgs" :key="i" class="flex flex-col mb-12" :class="name == msg.user.name ? 'items-end' : 'items.start'">
                    <div :class="{'active' : name == msg.user.name}" class="shadow bg-white chat-wrapper px-4 py-3 border border-gray-400 rounded w-1/2 flex justify-start align-start relative">
                        <div :class="name == msg.user.name ? 'text-right' : 'text-left'" class="w-full">{{ msg.message }}</div>
                        <div class="user absolute text-gray-400">{{ msg.user.name }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-1/4 flex-none text-center border-l border-solid border-gray-300">
            <h1 class="text-2xl" v-if="activeConvo">{{ activeConvo.name }}</h1>
            <div v-if="activeConvo && activeConvo.users.length">{{ activeConvoUsers }}</div>
        </div>
        <div class="fixed inset-x-0 bottom-0 text-left p-4 w-1/2 mx-auto">
            <form class="" @submit.prevent="addNewMsg">
                <input type="text" v-model="name" placeholder="Enter name" disabled class="bg-gray-200 rounded w-1/4 mb-3 border border-gray-400 py-2 px-1">
                <input type="text" v-model="msg" placeholder="Enter Message" :disabled="!activeConvo" :class="{'bg-gray-200 cursor-not-allowed' : !activeConvo}" class="rounded w-full border border-gray-400 py-2 px-1">
                <input type="submit" class="hidden">
            </form>
        </div>
    </div>
</template>

<script>
    import io from 'socket.io-client';

    export default {
        data () {
            return {
                msgs: [],
                name: null,
                msg: null,
                socket: io('localhost:3002'),
                members: [],
                newConvo: false,
                conversations: [],
                convo: null,
                activeConvo: null,
            }
        },
        mounted () {
            this.$prompt('Please input your name', '', {
                confirmButtonText: 'OK',
                showCancelButton: false,
                closeOnClickModal: false,
                closeOnPressEscape: false,
                closeOnHashChange: false,
                inputValidator: (value) => {
                    return !value ? false : true;
                },
                inputErrorMessage: 'Please enter name.'
            }).then(({ value }) => {
                if (!value) {
                    location.reload();
                }

                this.name = value;

                this.socket.emit('GET_CONVO_LIST');

            }).catch(() => {
                location.reload();    
            });

            this.socket.on('ADD_MESSAGE', data => {
                console.log(data);
                
                this.msgs.push(data);
            });

            this.socket.on('MESSAGES_LIST', data => {
                this.msgs = data;
            })

            this.socket.on('CONVO_LIST', data => this.conversations = data);

            this.socket.on('CONVO_SAVED', data => {
                this.conversations.push(data);

                this.activeConvo = data;
            })

        },
        computed: {
            activeConvoUsers() {
                if (!this.activeConvo.users.length) {
                    return null;
                }
                return this.activeConvo.users.map(m => m.name).join(', ');
            }
        },
        methods: {
            async addNewMsg () {
                let newMsg = {
                    msg: this.msg,
                    user: {
                        name: this.name
                    },
                    conversation_id: this.activeConvo._id,
                }
                                
                await this.socket.emit('SEND_MESSAGE', newMsg);

                await this.socket.emit('GET_CONVO_LIST');

                this.msg = null;
            },
            addNewConvo() {
                this.socket.emit('ADD_NEW_CONVO', {
                    convoName: this.convo,
                    userName: this.name,
                });

                this.convo = null;
                this.newConvo = false;
                this.msgs = [];
            },
            async setActiveConvo(convo) {
                this.activeConvo = convo;

                await this.socket.emit('GET_MESSAGE_LIST', convo._id);
            }
        }
    }
</script>

<style lang="scss">
    .chat-wrapper {
        &.active {
            .user {
                color: lightskyblue !important;
                right: 0;
                left: unset !important;
            }
        }
        .user {
            bottom: -23px;
            left: 0;
        }
    }
</style>
